<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/BaseLayout}"
    xmlns:casuaiscontas="http://casuaiscontas.com"
>
    <head>

        <title>Recuperar senha</title>

    </head>
    <body>

        <section layout:fragment="content">

            <div class="layout-signin">
                
                <div class="container">    
                    
                    <form th:action="@{/usuarios/recuperar/senha}" class="form" method="post">  
                        
                        <header class="page-header">
                            <h1 class="page-header__title">Recuperar senha</h1>                                  
                        </header>   
                        
                        <casuaiscontas:messages />   
                        
                        <h4 class="page-header__subtitle" th:unless="${message}">Coloque o e-mail que foi utilizado na hora do cadastro para que possamos enviar os passos para redefinir sua senha.</h4>                                  
    
                        <div class="row">
                            <div class="form-group  col-sm-6  cc-required"> 
                                <label for="email" class="control-label"><b>Email</b></label>                            
                                <input type="email" id="email" class="form-control  form-input" name="email">                                                            
                            </div> 
                        </div>                                                               

                        <footer>
                            <div class="layout-signin__button">
                                <button type="submit" class="btn  btn-primary  button">Enviar</button>
                            </div>
                        </footer> 
                        
                    </form>
                    
                </div>
            </div>
            
        </section>

    </body>
</html>