<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/BaseLayout}"
    xmlns:casuaiscontas="http://casuaiscontas.com"
>
    <head>

        <title>Alterar senha</title>

    </head>
    <body>

        <section layout:fragment="content">

            <div class="layout-signin">
                
                <div class="container">    
                    
                    <form th:action="${userDto.authenticated} ? @{/usuarios/redefinir/senha} : @{/usuarios/{id}/senha(id=${#authentication.principal.user.id})}" 
                        th:object="${userDto}" class="form" method="post">  
                        
                        <header class="form-header">
                            <h1 class="form-header__title">Alterar senha</h1>                                  
                        </header>
                        
                        <casuaiscontas:messages />                              
                        
                        <input type="hidden" th:field="*{email}" />
    
                        <div class="row" th:if="${userDto.authenticated}">
                            <div class="form-group  col-sm-4  cc-required">
                                <label for="name" class="control-label"><b>Código de verificação</b></label>
                                <input type="text" id="name" class="form-control  form-input" th:field="*{verificationCod}" casuaiscontas:classforerror="verificationCod">                              
                                <casuaiscontas:errorfeedback field="verificationCod" />                            
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group  col-sm-4  cc-required">
                                <label for="password" class="control-label"><b>Senha</b></label>
                                <input type="password" id="password" class="form-control  form-input" th:field="*{password}" casuaiscontas:classforerror="password">                            
                                <casuaiscontas:errorfeedback field="password" />  
                            </div>
    
                            <div class="form-group  col-sm-4">
                                <label for="confirmPassword" class="control-label"><b>Confirmar senha</b></label>
                                <input type="password" id="confirmPassword" class="form-control  form-input" th:field="*{confirmPassword}" casuaiscontas:classforerror="confirmPassword">                            
                                <casuaiscontas:errorfeedback field="confirmPassword" />  
                            </div>                                                         
                        </div>                                               

                        <footer>
                            <div class="layout-signin__button">
                                <button type="submit" class="btn  btn-primary  button">Alterar</button>
                            </div>
                        </footer> 
                        
                    </form>
                    
                </div>
            </div>
            
        </section>

    </body>
</html>