<!DOCTYPE html>
<html 
    lang="pt-BR"
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Casuais Contas</title>

        <link rel="stylesheet" th:href="@{/css/vendors/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/vendors/bootstrap-datepicker.standalone.min.css}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" th:href="@{/css/base.css}">
        <link rel="stylesheet" th:href="@{/css/layout.css}">
        <link rel="stylesheet" th:href="@{/css/compenents.css}">
        
        
        <link rel="shortcut icon" th:href="@{/img/favicon.jpg}"/>
    </head>
    <body>

        <!-- Header -->
        <div th:replace="layout/fragments/Header :: header"></div>

        <!-- Conteúdo principal -->
        <section layout:fragment="content"></section>

        <!-- Footer -->
        <div th:replace="layout/fragments/Footer :: footer"></div>

        
        <!-- Geral -->
        <script th:src="@{/js/vendors/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/js/vendors/jquery.mask.min.js}"></script>
        <script th:src="@{/js/vendors/bootstrap.min.js}"></script>
        <script th:src="@{/js/vendors/bootstrap-datepicker.min.js}"></script>
        <script th:src="@{/js/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>        
        <!-- Criados por mim -->
        <script th:src="@{/js/casuaiscontas.js}"></script>
        <!-- Extra -->
        <th:block layout:fragment="js-extra"></th:block>

    </body>
</html>