<!DOCTYPE html>
<html 
    lang="pt-BR"
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
    <body>
        
        <header class="layout-header" th:fragment="header">

            <nav class="navbar  navbar-expand-md  navbar-light  bg-light  header">
                <div class="container">
                  
                    <a href="#" class="navbar-brand">
                        <img th:src="@{/img/logo.png}" class="header__logo" alt="CasuaisContas">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>             
                    
                    <div class="collapse  navbar-collapse  header__menu" id="menu">
                        <ul class="navbar-nav  mr-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contas</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Despesas</a>
                            </li>                            
                        </ul>
                        
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" class="nav-link  dropdown-toggle">Minha Conta</a>
                                
                                <div class="dropdown-menu  profile-menu" aria-labelledby="navbarDropdown">                                  
                                    <a class="dropdown-item" href="#">Alterar Perfil</a>
                                    <a class="dropdown-item" href="#">Alterar Senha</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Sair</a>                                 
                                </div>

                              </li>                                                      
                        </ul>
                    </div>
                    
                </div>
            </nav>

        </header>

    </body>
</html>