<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/BaseLayout}"
    xmlns:casuaiscontas="http://casuaiscontas.com"
>
    <head>

        <title>Cadastro</title>

    </head>
    <body>

        <section layout:fragment="content">

            <div class="layout-signin">
                
                <div class="container">    
                    
                    <form th:action="${city.new} ? @{/cidades/nova} : @{/cidades/{id}(id=${city.id})}" th:object="${city}" class="form" method="post">  
                        
                        <header class="form-header">
                            <h1 class="form-header__title" th:text="${city.new ? 'Cadastrar cidade' : 'Atualizar cidade'}">Cadastro de cidade</h1>                                  
                        </header>

                        <casuaiscontas:messages />      
                        
                        <input type="hidden" name="*{id}">
                                
                        <div class="row">
                            <div class="form-group  col-sm-6  col-md-4  col-lg-4  cc-required">
                                <label for="state" class="control-label"><b>Estado</b></label>
                                <select id="state" class="form-control  form-input" th:field="*{state}" casuaiscontas:classforerror="state">
                                    <option value="">Selecione um Estado</option>
                                    <option th:each="state : ${states}" th:value="${state.id}" th:text="${state.name}">Minas Gerais</option>
                                </select>
                                <casuaiscontas:errorfeedback field="state" />
                            </div>
                            
                            <div class="form-group  col-sm-6  cc-required">
                                <label for="name" class="control-label"><b>Nome</b></label>
                                <input type="text" id="name" class="form-control  form-input" th:field="*{name}" casuaiscontas:classforerror="name">                              
                                <casuaiscontas:errorfeedback field="name" />                            
                            </div>    
                        </div>                                                                                          

                        <footer>
                            <div class="layout-signin__button">
                                <button type="submit" class="btn  btn-primary  button" th:text="${city.new ? 'Cadastrar' : 'Atualizar'}">Cadastrar</button>
                            </div>
                        </footer> 
                        
                    </form>
                    
                </div>
            </div>
            
        </section>
      
    </body>
</html>