<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/BaseLayout}"
    xmlns:data="http://www.thymeleaf.org/extras/data"
>
    <head>

        <title>Dashboard</title>

    </head>
    <body>          

        <section layout:fragment="content">

            <div class="layout-dashboard">

                <div class="container">

                    <div class="row">
                        <div class="col-sm-12  col-md-12  col-lg-6  grafic">
                            <h2 class="grafic__title">Gastos nos últimos 6 meses</h2>
                            <canvas id="monthlyExpense" height="160" data:url="@{/contas/gastos/{id}(id=${#authentication.principal.user.id})}"></canvas>
                        </div>
    
                        <div class="col-sm-12  col-md-12  col-lg-6  grafic">
                            <h2 class="grafic__title">Gastos deste mês</h2>
                            <canvas id="monthExpense" height="160" data:url="@{/contas/gastos/mes/{id}(id=${#authentication.principal.user.id})}"></canvas>
                        </div>
                    </div>
            
                </div>
    
            </div>

        </section>

        <th:block layout:fragment="js-extra">            
            <script th:src="@{/js/vendors/Chart.min.js}"></script>
            <script th:src="@{/js/dashboard.grafic.js}"></script>
        </th:block>

    </body>
</html>