<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/BaseLayout}"
>
    <head>

        <title>Login</title>

    </head>
    <body>

        <section layout:fragment="content">
          
            <div class="layout-login  col-10  offset-1  col-sm-8  offset-sm-2  col-md-6  offset-md-3  col-xl-4  offset-xl-4">
                
                <header class="form-header">
                    <h1 class="form-header__title">Login</h1>                
                </header>
    
                <form th:action="@{/login}" method="POST" class="form">

                    <div class="alert alert-danger" role="alert" th:if="${#bools.isTrue(param.error)}">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> E-mail/Senha inválidos
                    </div>
                                  
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label for="email" class="control-label"><b>Email:</b></label>
                            <input type="email" name="username" id="email" class="form-control  form-input" autofocus>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="form-group  col-sm-12">
                            <label for="password" class="control-label"><b>Senha:</b></label>
                            <input type="password" name="password" id="password" class="form-control  form-input">                                        
                        </div>
                    </div>                
    
                    <footer>                    
                        <div class="form-check  form-check-inline">
                            <input type="checkbox" name="remember-me" id="remember-me" class="form-check-input">
                            <label for="remember" class="form-check-label">Mantenha-me conectado</label>
                        </div>
    
                        <button type="submit" class="btn  btn-primary  float-right  button">Entrar</button>
                        
                        <div class="login__register-link">
                            <a th:href="@{/usuarios/novo}">Ainda não possui cadastro?</a>
                        </div>                    
                    </footer>
                   
                </form>
               
            </div>

        </section>
        
    </body>
</html>