<!DOCTYPE html>
<html 
    lang="pt-BR"
    xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Casuais Contas</title>

        <link rel="stylesheet" th:href="@{/css/vendors/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/base.css}">
        <link rel="stylesheet" th:href="@{/css/layout.css}">
        <link rel="stylesheet" th:href="@{/css/compenents.css}">
    </head>
    <body>

        <header class="layout-navbar">

            <nav class="navbar  navbar-expand-md  navbar-light  bg-light">
                <div class="container">
                  
                    <a href="#" class="navbar-brand  navbar__brand">CasuaisContas</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>             
                    
                    <div class="collapse  navbar-collapse  menu" id="menu">
                        <ul class="navbar-nav  mr-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contas</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Despesas</a>
                            </li>                            
                        </ul>
                        
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" class="nav-link  dropdown-toggle">Minha Conta</a>
                                
                                <div class="dropdown-menu  perfil" aria-labelledby="navbarDropdown">                                   
                                    <a class="dropdown-item" href="#">Alterar Perfil</a>
                                    <a class="dropdown-item" href="#">Alterar Senha</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Sair</a>                                
                                </div>

                              </li>                                                      
                        </ul>
                    </div>
                    
                </div>
            </nav>

        </header>

        <div class="layout-login  col-10  offset-1  col-sm-8  offset-sm-2  col-md-6  offset-md-3  col-xl-4  offset-xl-4">
            
            <header class="header">
                <h1 class="header__title">Login</h1>                
            </header>

            <form action="#" method="POST">
                              
                <div class="row">
                    <div class="form-group  col-sm-12">
                        <label for="email" class="control-label"><b>Email:</b></label>
                        <input type="email" name="username" id="email" class="form-control  form-input">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group  col-sm-12">
                        <label for="password" class="control-label"><b>Senha:</b></label>
                        <input type="password" name="password" id="password" class="form-control  form-input">                                        
                    </div>
                </div>                

                <footer>                    
                    <div class="form-check  form-check-inline">
                        <input type="checkbox" name="remember" id="remember" class="form-check-input">
                        <label for="remember" class="form-check-label">Lembre-me</label>
                    </div>

                    <button type="submit" class="btn  btn-primary float-right botao">Entrar</button>
                    
                    <div class="login__link-cadastro">
                        <a th:href="@{/usuarios/novo}">Ainda não possui cadastro?</a>
                    </div>                    
                </footer>
               
            </form>
           
        </div>

        <footer class="layout-footer">
            <div class="container-fluid">                
                <p>&copy; 2020 Casuais Contas. Todos os direitos reservados</p>
            </div>
        </footer>
       
        
        <script th:src="@{/js/vendors/jquery-3.5.1.min.js}"></script>
        <script th:src="@{/js/vendors/bootstrap.min.js}"></script>

    </body>
</html>