<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <logger name="br.com.casuaiscontas" level="debug" />
    
	<!-- só será utilizado no default = local -->
    <springProfile name="default">       
        <logger name="org.hibernate.SQL" level="debug" />
    </springProfile>
</configuration>
