/*---------------------------\*
    HEADER
\*---------------------------*/

.header {

}

.header__brand {
    font-size: 1em;
}

.header__menu {
    margin-left: 15px;

    font-size: 1.6rem;
}

.header__logo {
    height: 30px;
}

/*---------------------------\*
    FORM HEADER
\*---------------------------*/

.page-header {
    border-bottom: 1px solid #ccc;
    
    margin-top: 15px;
    margin-bottom: 25px;
}

.page-header__title {
    margin: 0 0 5px;

    color: #004b68;
    
    font-size: 3.5rem;
    text-align: center;
}

.page-header__subtitle {
    padding: 10px;
    border: 1px solid #cccc00;
    border-radius: 5px;    
    margin-bottom: 15px;
    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    color: #004b68;
}

/*---------------------------\*
    LOGIN
\*---------------------------*/

.layout-login-links {
    margin-top: 25px;
}

/*---------------------------\*
    FORM
\*---------------------------*/

.form {

}

.form-input {
    width: 100%;
    height: 2.8em;
    display: block;

    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    background-color: #fff;

    font-size: 1.4rem;
}

.cc-required > .control-label::after {
    content: "*";
}

.input-group-text {
    font-size: 1.4rem;
}

#description {
    resize: none;
}

.price__to {
    margin: 0 10px;
}

/*---------------------------\*
    DROPDOWN MENU
\*---------------------------*/

.dropdown-menu {
    padding: 10px;
    margin-top: 7px;

    font-size: 1em;
}

@media(max-width: 768px) {
    .dropdown-menu {
        margin-top: 0;
    }
}

/*---------------------------\*
    FOOTER
\*---------------------------*/

.footer {
    padding: 30px 0;
    
    text-align: center;
}

/*---------------------------\*
    BUTTON
\*---------------------------*/

.button {
    font-size: 1.4rem;
}

/*---------------------------\*
    ERROR
\*---------------------------*/

.error {

}

.error__code {
    color: #8c7373;
    
    font-size: 7.0rem;
    text-align: center;
}

.error__message {
    margin: 10px 0;

    font-size: 2.5rem;
    text-align: center;
}

.error__description {
    text-align: justify;
}

.error__button {
    font-size: 2.0rem;
}

/*---------------------------\*
    GRAFIC
\*---------------------------*/

.grafic {

}

.grafic__title {
    margin-bottom: 30px;

    color: #004b68;
    
    font-size: 2.5rem;
    text-align: center;
}

@media(max-width: 991px) {
    .grafic:last-child  {
        margin-top: 30px;
    }
}

/*---------------------------\*
    REPORT
\*---------------------------*/

.report__area {
    position: relative;
    widows: 200px;
    height: 320px;
    border: 1px solid #ccc;
    
    text-align: center;
    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.report__area:hover {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.report__title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    
    font-size: 4.0rem;

    transform: translate(-50%, -50%);
}

.report__link {
    color: #004b68;

    text-decoration: none;
}

@media(max-width: 767px) {
    .report__area:first-child {
        margin-bottom: 20px;
    }
}