/*---------------------------\*
    NAVBAR
\*---------------------------*/

.navbar__brand {
    font-size: 1em;
}

/*---------------------------\*
    MENU
\*---------------------------*/

.menu {
    margin-left: 15px;

    font-size: 1.6rem;
}

/*---------------------------\*
    HEADER
\*---------------------------*/

.header {
    border-bottom: 1px solid #ccc;
    
    margin-top: 15px;
    margin-bottom: 25px;
}

.header__title {
    margin: 0 0 5px;

    color: #004b68;
    
    font-size: 3.5rem;
    text-align: center;
}

/*---------------------------\*
    LOGIN
\*---------------------------*/

.login__link-cadastro {
    margin-top: 15px;
}

/*---------------------------\*
    BOTÃO
\*---------------------------*/

.botao {
    font-size: 1.4rem;
}

/*---------------------------\*
    FORMULÁRIO
\*---------------------------*/

.form-input {
    width: 100%;
    height: 2.8em;
    display: block;

    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    background-color: #fff;

    font-size: 1.4rem;
}

/*---------------------------\*
    PERFIL
\*---------------------------*/

.perfil {
    padding: 10px;
    margin-top: 7px;
    
    font-size: 1em;
}

@media(max-width: 768px) {
    .perfil {
        margin-top: 0;

        background-color: #f8f9fa;
    }
}